<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="product-import">
      <h3>Upload and Import CSV Data</h3>
      <%= form_tag import_patients_path, multipart: true do %>
          <%= file_field_tag :file, class: "btn btn-secondary btn-file" %>
          <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="product-search">
      <%# content_for :title, "Products" %>
      <h3>Search</h3>
      <%= form_tag patients_path, method: 'get', id: "patients_search", class: "form-inline pull-xs-right" do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "", id: "search-input", class: "form-control" %>
          <%= submit_tag "Search", name: nil, id: "search-submit", class: "btn btn-success" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<div id="patient-app"></div>
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="product-list">
      <h3>Patients</h3>
      <div id="patients"><%= render 'patients' %></div>
    </div>
  </div>
</div> -->
